.well {
    min-height: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #7f7f7f;
  }